.page-card {
    height: 275px;
    max-width: 500px !important;
    padding: 25px !important;
    border: 1px solid #ececec !important;
    box-shadow: none !important;
    border-radius:0px !important
}
.page-card .page-card-head {
   border-bottom:none !important
}
.page-card .page-card-head .indicator {
    color: #21539e !important;
    font-size: 15px !important;
}
.btn-primary {
    background-color: #21539e;
    border-color: #21539e;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary.focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
	background-color: #274b82;
	border-color: #274b82;
}
.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active, .show > .btn-primary.dropdown-toggle {
	background-color: #274b82;
	border-color: #274b82;
}
.btn-primary:focus, .btn-primary.focus {
    box-shadow: 0 0 0 0.1rem rgba(74, 120, 247, 0.16);
}
.btn-login{padding:8px}
.btn:hover{color:#e7e7e7}
.form-signin .form-control {
   padding:8px 6px !important;
   margin:20px 0px 15px;
   border-radius:0px;
   border:1px solid #ececec
}
.indicator.blue::before, .indicator-right.blue::after{
   background:#397de6
}
.indicator.orange::before, .indicator-right.orange::after{
   background:#ffb65c
}
.login-content {
  box-sizing: content-box;
  height: auto;
}